@import url('https://fonts.googleapis.com/css?family=Roboto&effect=3d');

html,body,#root {height:100%;}

#root {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("img/numbers.png");
  font-family: Roboto-Regular,helvetica,arial,sans-serif;
}

.calculator  {
  background-color: rgb(182, 169, 169);
  font-size: 30px;
  width: 300px;
  padding: 10px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
  border-radius: 5px;
  border-left: 2px solid rgb(172, 160, 160);
  border-top: 2px solid rgb(172, 160, 160);
  box-shadow: 3px 3px 5px #868585;
  color: rgb(61, 56, 56);
}

.button, .screen, .result {
  display: grid;
  align-content: center;
  border-radius: 5px; 
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #868585;
}

.button {
  border: 3px solid  rgb(182, 169, 169);
  height: 60px;
  text-align: center;
}

.screen, .result {
  grid-column: 1 / span 4;
  background: white;
  text-align: right;
  padding: 10px; 
  height: 50px;
}

.button:hover { 
  border: 3px solid rgba(135, 122, 243, 0.911);
}

.orange {
  background: orange;
}

.white {
  background: white;
}

.result {
  color: grey;
  font-size: 24px;
}

.zero {
  grid-column: 1 / span 2;
}



